.hidden {
  display: none;
}

.block {
  display: block;
}

.row {
  display: flex;
}

ul {
  list-style: none;
}

/* favorites page in mobile firsst design */

/* favorites viiewSwap listings */
.planetBar {
  height: 100px;
  background-image: url('../images/space-stars.avif');
  background-position: center center;
  width: 100vw;
}

.appendingFavoritePlanetsParent {
  display: block;
  margin: 30px auto;
  text-align: center;
}
