.hidden {
  display: none;
}

.block {
  display: block;
}

ul {
  list-style: none;
}

/* favorites page */

.planetBar {
  background-color: blue;
  height: 100px;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}

button.swapEntries {
  transform: rotate(15deg);
  border: 0;
  background-color: transparent;
  font-size: 20px;
  color: hwb(0deg 100% 0% / 0.835);
  transition: 0.2s all ease-in-out;
}

button.swapEntries:hover {
  color: lightskyblue;
}

.cosmonaut_link_home {
  background-color: transparent;
  border: 0;
}

/* main API/favorites img */

.unordered img {
  height: 220px;
  margin: auto;
  display: block;
  border-radius: 0.4rem;

  /* object-fit: contain; */
}

.mainInfoPlanetFlex img {
  margin: auto;
  justify-content: center;
  display: block;
  height: 300px;
}

.planetBar > .cosmonaut_link_home img {
  height: 70px;
  background-color: none;
}

.API_img_title {
  text-align: center;
  padding: 10px;
}

/* API CALL FAVORITE PLANET IMAGE */

/* .planetImgStyles {
  padding: 10px 20px;
  border: #fff solid 1px;
  border-radius: 1rem;
} */

/* new button/top link */
.mobile_link_tag {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
  padding: 5px 10px;
  align-self: flex-end;
  margin: 15px;
  text-decoration: none;
  background-color: #0c53ed;
  color: #fff;
  border-radius: 0.3rem;
}

.button_fav {
  display: flex;
  justify-content: flex-end;
}

/* favorites section a tag/New button
.mobile_design_new_link {
  padding: 3px 10px;
  float: right;

  display: none;
  margin: 3px;
  background-color: blue;
  color: #fff;
  text-decoration: none;
} */

/* sun/black hole images */
.sunView,
.delete_hole {
  width: 12%;
}

.starColor { transition: 0.3s all ease-in-out; width: 40px; }

.starColor:hover { color: yellow; }

/* keyframe for small img animation */
.sunView {
  cursor: pointer;
  animation: sun_animation forwards infinite 1s ease-in-out;
}

.delete_hole {
  cursor: pointer;
  animation: black_hole_animation forwards infinite 2s ease-in-out;
}

/* Keyframes here */
@keyframes sun_animation {
  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes black_hole_animation {
  100% {
    transform: rotate(360deg);
  }
}

.unordered {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-top: 50px;
}

/* new rendering */
.column-half {
  width: 100%;
}

.favorite-flex-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.newBtn {
  color: #fff;
  background: purple;
  padding: 7px;
  border-radius: 0.3rem;
  margin-top: 20px;
  border: 0;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 1);
}

.divWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

li.row_inner {
  width: 100%;
  margin: 20px;
}

/* creating the modal overlay */

/* hiding the body overflow */

.overflow_hide {
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, #000);
  z-index: 999;

  /* Adjust z-index as needed */
}

.modal-font {
  text-align: center;
}

.modal-content-inner-center {
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px auto;
  align-items: center;
  margin-top: 35vh;
  background-color: #ccc;
  width: 500px;
  padding: 10px;
  border-radius: 0.3rem;
}

.btn-sized {
  font-size: 16px;
}

.scaled {
  transform: scale(1.1);
  transition: 0.4s all ease-in-out;
}

.white-modal-button {
  color: #e0e0e0;
}

.opacity-smaller {
  background: red;
}

.btn-confirm-styles {
  background: rgb(60, 181, 60);
  padding: 5px 15px;
  border-radius: 0.3rem;
  border: 0;
}

.btn-deny-styles {
  background: rgb(165, 8, 8);
  padding: 5px 15px;
  border-radius: 0.3rem;
  border: 0;
}

.opacity-green {
  background-color: green;
}

.very-red-denied {
  background-color: red;
}

.modal-deny,
.modal-button-confirm {
  font-weight: bold;
}
