/* body background image gif abckground styling and more */

body {
  background-color: rgb(43, 200, 200) !important;
}

.apod-flexbox {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.stretchedAPODimg {
  width: 100%;
}

/* Main form styling/giving it a class of block and more */

/* AJAX Image explanations */

.APOD_explanation::first-letter {
  color: rgb(235, 240, 240);
  font-family: cursive;
  font-size: 32px;
}

.copyright {
  float: right;
  margin: 2px;
}

iframe {
  padding: 10px;
  border-radius: 1rem;
}

/* .space-APOD-content > p.copyright {} */

/* i frames and form for planet search */

.frame-flex {
  display: flex;
  margin: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-planet-finder {
  display: flex;
  justify-content: center;
  align-items: center;
}

form.form-planet-finder input {
  background-color: rgb(221, 255, 0);
  width: 95%;
  color: #000;
  margin: auto;
}

form.form-planet-finder input::placeholder {
  color: dark;
}

/* Planet api pull image styling */
.planet_img_api {
  margin: 10px auto;
}

/* When the Img API gets called and the user hover's the image show the anchor tag/styling */

.CSS_styled_lightbox_cursor {
  cursor: pointer;
}

/* font awesome icon styling */

form .span_icon_glass {
  padding: 5px 10px;
  border-radius: 0.3rem;
  font-size: 17.1px;
  margin-top: 20px;
  transition: 0.4s all ease-in-out;
}

form .span_icon_glass:hover {
  cursor: pointer;
  opacity: 0.9;
}

/* Searched planet description/s */
.img_des_min_w {
  text-align: center;
  min-width: 500px;
  margin: 5px;
}

/* Saving to the favorties page styling */

.fa-star {
  text-align: center;
  display: none;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

.fa-star:hover {
  opacity: 0.8;
}

.frame-top {
  position: relative;
  bottom: 300px;
}

/* Desktop Design */

@media only screen and (min-width: 768px) {
  .apod-flexbox {
    flex-direction: row-reverse;
    margin: 10px;
  }

  .frame-flex {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  /* APOD image */

  .width_desktop_styling {
    height: 500px;
    width: 100%;
  }

  /* AJAX APOD content */
  .space-APOD-content {
    min-width: 320px;
    margin: 15px;
  }

  /* form */

  .form-planet-finder {
    margin: auto;
    display: block;
    justify-content: center;
    align-items: center;
  }

  form .span_icon_glass {
    display: inline-flex;
    border-radius: 0.3rem;
    font-size: 15px;

    /* margin-left: -20px; */
    transition: 0.4s all ease-in-out;
  }

  form.form-planet-finder input {
    width: 50%;
  }
}
